@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,100&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
}

header,
footer {
    background-color: #1F2937;
}

nav {
    padding: 16px 0px;
    margin-bottom: 32px;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 16px;
    padding: 8px 16px 32px 16px;
    margin: 0vh 16vw;
}

a {
    text-decoration-line: none;
}

button {
    background-color: #3882F6;
    border-radius: 10px;
    padding: 8px 32px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: #F9FAF8;
}

p {
    margin-bottom: 8px;
}

.font-3 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.font-2 {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.font-1 {
    font-size: 18px;
    color: #E5E7EB;
}

#logo {
    margin-right: auto;
}

.hero-container {
    max-height: 400px;
    padding: 16px 16px 96px 16px;
    margin: 0vh 16vw 0vh 16vw;
    display: flex;
}

.wrapper {
    flex: 1;
}

.image {
    width: 400px;
    height: 200px;
    flex-shrink: 0;
}

.information {
    text-align: center;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 16px;
    margin: 32px 0px;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.card {
    border-style: solid;
    border-radius: 10px;
    border-color: #3882F6;
}

.info {
    max-width: 200px;
}

.info-image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
